<div class="form">

    <div class="row">

        <div class="col-12 col-md-6">

            <label>Nombre</label>

            <input type="text" class="form-control" placeholder="introduce tu nombre">

        </div>

        <div class="col-12 col-md-6">

            <label>Email</label>

            <input type="mail" class="form-control" placeholder="introduce tu email">

        </div>

        <div class="col-12 col-md-6">

            <label>Edad</label>

            <input type="number" placeholder="introduce tu edad" class="form-control">

        </div>

        <div class="col-12 col-md-6">

            <label>Curso</label>

            <select class="form-select mb-2">

                <option value="">Selecciona un curso</option>

                <option value="1eso"> 1º ESO</option>

                <option value="2eso"> 2º ESO</option>

                <option value="3eso"> 3º ESO</option>

                <option value="4eso"> 4º ESO</option>

            </select>

        </div>

        <div class="col-12">

            <button class="btn btn-danger">Enviar</button>

        </div>

    </div>

</div>